## Welcome to your configuration files!
## Here's a few environmental variables that might come useful with lazer.
## Uncomment the line you need, the launch script will automatically pick them!

# Set launch arguments (e.g. mangohud, gamemoderun..)
# PRE_LAUNCH_ARGS="game-performance obs-gamecapture"

# OLD: Set custom PIPEWIRE_ALSA settings. Recommended to use OSU_TEMP_TESTING_BASS_CONFIG_DEV_PERIOD instead.
# PIPEWIRE_ALSA='{ alsa.period-bytes=512 alsa.periods=3 }'

# OLD: Force PipeWire to run at certain quants. Recommended to use OSU_TEMP_TESTING_BASS_CONFIG_DEV_PERIOD instead.
# PIPEWIRE_LATENCY=128/44100

# Set SDL's video driver (x11/wayland). Auto-set to wayland on Wayland sessions.
# Uncomment to force x11 (xwayland) if you hit issues.
# SDL_VIDEODRIVER=x11

# Enable SDL video double buffering (default: 1)
# SDL_VIDEO_DOUBLE_BUFFER=0

# SDL3 is now default: use the following to revert to SDL2 (only if you encounter issues! SDL3 is generally better)
# OSU_SDL3=0

# damn stutters
# DOTNET_GCGen0MaxBudget=200000

# https://github.com/VSadov/Satori/issues/81
# DOTNET_GCLatencyMode=3
